{% extends 'layouts/base.twig' %}

{% block title %}Accueil - ShopEasy
{% endblock %}

{% block content %}
	<h1>{{ welcome }}</h1>
	<p class="subtitle">Bienvenue sur votre nouvelle plateforme de fidélité modulaire.</p>

	<div class="alert alert-success">
		Le Modèle Front Controller, Twig et la Connexion BDD sont opérationnels !
	</div>

	<div class="products-grid">
		<p>Prêt à commencer l'intégration de l'Épic 1 (Authentification) ?</p>
	</div>
{% endblock %}
